# Python 가상환경
venv/
ENV/
env/
.venv/

# Python 컴파일 결과물
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE 설정
.idea/
.vscode/

# macOS 불필요 파일
.DS_Store

# 환경 변수 및 민감 정보
.env
.env.*

# 테스트 결과
htmlcov/
coverage.xml

# 로그 파일
*.log

# 패키지 배포 결과물
dist/
build/
*.egg-info/

# Docker
*.db
